@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Colors
$primaryColor:#4687ff;
$secondaryColor:#f64f64;
$textColor1:#383c43;
$textColor2:#73757a;
$textColor3:#151922;
$textColor4:#2c3038;
$textColor5:#e8e8e9;

// Fontsize 
$fontsize1:12px;
$fontsize2:14px;
$fontsize3:16px;
$fontsize4:20px;
$fontsize5:40px;
$fontsize6:48px;

// Sizing
$p1:0.5em;
$p2:1em;
$p3:1.5em;
$p4:2em;
$p5:2.5em;
$p6:3em;

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

// Row and Column
.row{
    display:flex;
    flex-wrap: wrap;
}
.container{
    padding: 0 $p2;
}
.wrap-content{
    max-width: 1170px;
    margin: auto;
}
// Tags stylings 
p{
    font-size: $fontsize3;
}

h1{ font-size: $fontsize6;}
h2{ font-size: $fontsize5;}
h3{ font-size: $fontsize4;}
h4{ font-size: $fontsize3;}
h5{ font-size: $fontsize2;}
h6{ font-size: $fontsize1;}

a{
    color:$textColor1;
}
// Mixins 
@mixin button{
    border-radius: 6px;
    padding: 8px 16px;
    transition:opacity 0.6s ease;
    &:hover{
        opacity:0.6;
    }
}


// Header menu 
.headermain.fixed{
    .navbar-main{
        .main-navmenu{
            justify-content: space-between;
            align-items: center;
            padding: 1em 2em;
            border-bottom: 1px solid $textColor5;
            .column1{
                display: flex;
                align-items: center;
                .logo{
                    padding-right: $p3;
                    #mountain{
                        fill: $primaryColor;
                    }
                    #letters{
                        fill:$textColor1;
                    }
                }
            }
            .menu1{
                border-left: 1px solid #ccc;
                padding-left: $p2;
                .nav-ul{
                    list-style: none;
                    .nav-item{
                        display: inline-block;
                        padding:$p1 $p1;
                        .nav-link{
                            font-size: $fontsize2;
                            color: $textColor3;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
            .menu2{
                position: relative;
               .nav-ul{
                   list-style: none;
                   .nav-item{
                       display: inline-block;
                       padding:$p1 $p1;
                       .nav-link{
                            font-size: $fontsize2;
                            color: $textColor3;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                opacity: 0.6;
                            }
                        }
                        .btn-action{
                            @include button;
                            background-color: $secondaryColor;
                            color:#fff;
                            font-size: $fontsize1;
                        }
                        .btn-dropdown{
                            display: flex;
                            flex-wrap: wrap;
                            width: 30px;
                            position: relative;
                            top: -6px;
                            .toggle-dot{
                                width: 4px;
                                height: 4px;
                                background: $textColor3;
                                margin: 0 2px 4px;
                            }
                        }
                   }
               }
                .dropdown-drawer {
                    display:none;
                    padding: 6px 0;
                    position: absolute;
                    width: 100%;
                    box-shadow: 0 0 0 1px rgba(56,60,67,.05), 0 1px 3px 0 rgba(56,60,67,.15);
                    background: #fff;
                    border-radius: 4px;
                    ul{
                        list-style: none;
                        li{
                            a{
                                display: block;
                                text-decoration: none;
                                padding: $p2;
                                small{
                                    display: block;
                                    font-size: $fontsize1;
                                    color: #73757a;
                                    font-weight: 500;
                                }
                                span{
                                    display: block;
                                    font-size: $fontsize3;
                                    color: #151922;
                                    font-weight: 600;
                                    padding: $p1 0;
                                }
                                &:hover{
                                    background-color: #edf3ff;
                                }
                            }
                        }
                    }
                }
                .dropdown-drawer.active{
                    display:block;
                }
            }
        }
    }
}


// hero section 
.hero-section{
    background-image: url('./img/christmas-2020-hero-bg@2x.webp');
    background-color: rgb(0, 13, 55);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .wrap-content{
        .row{
            align-items: center;
            justify-content: space-between;
            padding: 6em 0 3em;
            .column1{
                max-width: 520px;
                .heading1{
                    font-size:$fontsize5;
                    color:#fff;
                    margin-bottom: $p1;
                }
                .btn-action{
                    @include button;
                    text-decoration: none;
                    background-color: $secondaryColor;
                    display: inline-block;
                    font-size: $fontsize3;
                    font-weight: 600;
                    color: #fff;
                }
                .para1{
                    font-size: $fontsize1;
                    color:#fff;
                    margin-top: $p3;
                    svg{
                        vertical-align: middle;
                    }
                }
                .imgbox-herosection{
                    .img-bg{
                        max-width: 100%;
                    }
                }
            }
            .column2 {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                margin-top: $p5;
                .card-brand {
                    max-width: 120px;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

//landing page change navigation style experimental
.hero-section{
    position: relative;
    top: -6em;
    z-index: -1;
}
.headermain.static{
    .main-navmenu{
        border-bottom:unset !important;
        .logo{
            #letters{
                fill:#fff !important;
            }
            #mountain{
                fill:#fff !important;
            }
        }
        .nav-ul{
            .nav-item{
                .nav-link{
                    color:#fff !important;
                }
                .btn-dropdown{
                    span{
                        background-color: #fff !important;
                    }
                }
            }
        }
    }
}