@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  padding: 0 1em;
}

.wrap-content {
  max-width: 1170px;
  margin: auto;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

a {
  color: #383c43;
}

.headermain.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.headermain {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.headermain .navbar-main .main-navmenu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid #e8e8e9;
}

.headermain .navbar-main .main-navmenu .column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headermain .navbar-main .main-navmenu .column1 .logo {
  padding-right: 1.5em;
}

.headermain .navbar-main .main-navmenu .column1 .logo #mountain {
  fill: #4687ff;
}

.headermain .navbar-main .main-navmenu .column1 .logo #letters {
  fill: #383c43;
}

.headermain .navbar-main .main-navmenu .menu1 {
  border-left: 1px solid #ccc;
  padding-left: 1em;
}

.headermain .navbar-main .main-navmenu .menu1 .nav-ul {
  list-style: none;
}

.headermain .navbar-main .main-navmenu .menu1 .nav-ul .nav-item {
  display: inline-block;
  padding: 0.5em 0.5em;
}

.headermain .navbar-main .main-navmenu .menu1 .nav-ul .nav-item .nav-link {
  font-size: 14px;
  color: #151922;
  text-decoration: none;
  font-weight: 500;
}

.headermain .navbar-main .main-navmenu .menu1 .nav-ul .nav-item .nav-link:hover {
  opacity: 0.6;
}

.headermain .navbar-main .main-navmenu .menu2 {
  position: relative;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul {
  list-style: none;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul .nav-item {
  display: inline-block;
  padding: 0.5em 0.5em;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul .nav-item .nav-link {
  font-size: 14px;
  color: #151922;
  text-decoration: none;
  font-weight: 500;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul .nav-item .nav-link:hover {
  opacity: 0.6;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul .nav-item .btn-action {
  border-radius: 4px;
  padding: 8px 16px;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  background-color: #f64f64;
  color: #fff;
  font-size: 12px;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul .nav-item .btn-action:hover {
  opacity: 0.6;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul .nav-item .btn-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30px;
  position: relative;
  top: -6px;
}

.headermain .navbar-main .main-navmenu .menu2 .nav-ul .nav-item .btn-dropdown .toggle-dot {
  width: 4px;
  height: 4px;
  background: #151922;
  margin: 0 2px 4px;
}

.headermain .navbar-main .main-navmenu .menu2 .dropdown-drawer {
  display: none;
  padding: 6px 0;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0 0 0 1px rgba(56, 60, 67, 0.05), 0 1px 3px 0 rgba(56, 60, 67, 0.15);
          box-shadow: 0 0 0 1px rgba(56, 60, 67, 0.05), 0 1px 3px 0 rgba(56, 60, 67, 0.15);
  background: #fff;
  border-radius: 4px;
}

.headermain .navbar-main .main-navmenu .menu2 .dropdown-drawer ul {
  list-style: none;
}

.headermain .navbar-main .main-navmenu .menu2 .dropdown-drawer ul li a {
  display: block;
  text-decoration: none;
  padding: 1em;
}

.headermain .navbar-main .main-navmenu .menu2 .dropdown-drawer ul li a small {
  display: block;
  font-size: 12px;
  color: #73757a;
  font-weight: 500;
}

.headermain .navbar-main .main-navmenu .menu2 .dropdown-drawer ul li a span {
  display: block;
  font-size: 16px;
  color: #151922;
  font-weight: 600;
  padding: 0.5em 0;
}

.headermain .navbar-main .main-navmenu .menu2 .dropdown-drawer ul li a:hover {
  background-color: #edf3ff;
}

.headermain .navbar-main .main-navmenu .menu2 .dropdown-drawer.active {
  display: block;
}

.hero-section {
  background-image: url("./img/christmas-2020-hero-bg@2x.webp");
  background-color: #000d37;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-section .wrap-content .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6em 0 3em;
}

.hero-section .wrap-content .row .column1 {
  max-width: 520px;
}

.hero-section .wrap-content .row .column1 .heading1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 0.5em;
}

.hero-section .wrap-content .row .column1 .btn-action {
  border-radius: 4px;
  padding: 8px 16px;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  text-decoration: none;
  background-color: #f64f64;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.hero-section .wrap-content .row .column1 .btn-action:hover {
  opacity: 0.6;
}

.hero-section .wrap-content .row .column1 .para1 {
  font-size: 12px;
  color: #fff;
  margin-top: 1.5em;
}

.hero-section .wrap-content .row .column1 .para1 svg {
  vertical-align: middle;
}

.hero-section .wrap-content .row .column1 .imgbox-herosection .img-bg {
  max-width: 100%;
}

.hero-section .wrap-content .row .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5em;
}

.hero-section .wrap-content .row .column2 .card-brand {
  max-width: 120px;
}

.hero-section .wrap-content .row .column2 .card-brand img {
  max-width: 100%;
}

.hero-section {
  position: relative;
  top: -6em;
  z-index: -1;
}

.headermain.static .main-navmenu {
  border-bottom: unset !important;
}

.headermain.static .main-navmenu .logo #letters {
  fill: #fff !important;
}

.headermain.static .main-navmenu .logo #mountain {
  fill: #fff !important;
}

.headermain.static .main-navmenu .nav-ul .nav-item .nav-link {
  color: #fff !important;
}

.headermain.static .main-navmenu .nav-ul .nav-item .btn-dropdown span {
  background-color: #fff !important;
}

.section2, .section3, .section4 {
  margin-bottom: 6em;
}

.section2 .wrap-content .row, .section3 .wrap-content .row, .section4 .wrap-content .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section2 .wrap-content .row .column1, .section3 .wrap-content .row .column1, .section4 .wrap-content .row .column1 {
  max-width: 430px;
}

.section2 .wrap-content .row .column1 .img-box .img-bg, .section3 .wrap-content .row .column1 .img-box .img-bg, .section4 .wrap-content .row .column1 .img-box .img-bg {
  max-width: 100%;
}

.section2 .wrap-content .row .column1 h2, .section3 .wrap-content .row .column1 h2, .section4 .wrap-content .row .column1 h2 {
  font-size: 28px;
  color: #383c43;
}

.section2 .wrap-content .row .column1 p, .section3 .wrap-content .row .column1 p, .section4 .wrap-content .row .column1 p {
  color: #383c43;
  font-size: 16px;
  line-height: 28px;
  padding: 1.5em 0;
}

.section2 .wrap-content .row .column1 .btn-action, .section3 .wrap-content .row .column1 .btn-action, .section4 .wrap-content .row .column1 .btn-action {
  border-radius: 4px;
  padding: 8px 16px;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  text-decoration: none;
  background-color: #4687ff;
  color: #fff;
}

.section2 .wrap-content .row .column1 .btn-action:hover, .section3 .wrap-content .row .column1 .btn-action:hover, .section4 .wrap-content .row .column1 .btn-action:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=main.css.map */